@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('common.css');
@import url('header.css');
body {
	font-family: 'Lato', sans-serif;
	color: #424551;
}
.wrapper {
	position: relative;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*='__container'] {
	max-width: 1260px;
	margin: 0px auto;
	padding: 0 15px;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: none;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/* main ======================================== */
.page {
	padding-top: 180px;
	padding-bottom: 180px;
}
.page__questions {}
/* questions =================================== */
.questions {}
.questions__container {
	display: flex;
	justify-content: space-between;
	column-gap: 20px;
}
.questions__media {
	flex: 1 1 435px;
	align-self: center;
	margin-left: -15px;
}
.questions__image {
	max-width: 100%;
	max-height: 481px;
}
.questions__content {
	flex: 0 1 705px;
}
.questions__title-block:not(:last-child) {
	margin-bottom: 40px;
}
.questions__form {}
/* ============================================= */
.form-questions {}
.form-questions__text-block {
	display: flex;
	flex-wrap: wrap;
	column-gap: 25px;
	row-gap: 24px;
}
.form-questions__text-block:not(:last-child) {
	margin-bottom: 48px;
}
.form-questions__line {
	flex: 1 1 0%;
	min-width: 250px;
}
.form-questions__line--textarea,
.form-questions__line--radio {
	flex: 1 1 100%;
}
.form-questions__label {
	display: inline-block;
	vertical-align: top;
	line-height: 1.6;
}
.form-questions__label:not(:last-child) {
	margin-bottom: 8px;
}
.form-questions__input {
	height: 52px;
	border: 1px solid #d7dadd;
	border-radius: 4px;
	padding: 0 16px;
	line-height: 1.6;
}
.form-questions__input::placeholder,
.form-questions__textarea::placeholder {
	line-height: 1.6;
	color: #9a9ca5;
}
.form-questions__input:focus,
.form-questions__textarea:focus {
	outline: 1px solid rgba(255, 63, 58, 0.4);
	outline-offset: -1px;
	border-color: transparent;
	box-shadow:
		0px 80px 80px -20px rgba(255, 63, 58, 0.08),
		0px 30px 24px -10px rgba(255, 63, 58, 0.05),
		0px 12px 10px -6px rgba(255, 63, 58, 0.04),
		0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}
.form-questions__textarea {
	width: 100%;
	min-height: 128px;
	padding: 13px 16px;
	border: 1px solid #D7DADD;
	border-radius: 4px;
	line-height: 1.6;
	resize: vertical;
}
/* radio ================================================== */
.form-questions__line--radio {
	display: flex;
	flex-direction: column;
	position: relative;
}
.form-questions__title-radio {
	line-height: 1.6;
	margin-bottom: 12px;
}
.form-questions__line--radio .form-questions__input {
	bottom: 0;
	left: 8px;
}
.form-questions__line--radio .form-questions__label {
	align-self: flex-start;
	display: flex;
	column-gap: 12px;
	margin-bottom: 0;
}
.form-questions__line--radio .form-questions__label span {
	flex: 0 0 16px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 1px solid #B3B7BC;
	position: relative;
	transform: translateY(5px);
}
.form-questions__line--radio .form-questions__label span::before {
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	border-radius: 50%;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
}
.form-questions__line--radio .form-questions__input:focus-visible + .form-questions__label span {
	box-shadow: 0px 0px 0px 2px #000000;
}
.form-questions__line--radio .form-questions__label span::before {
	animation: checkbox-reverse 0.3s ease;
}
.form-questions__line--radio .form-questions__input:checked + .form-questions__label span::before {
	animation: checkbox 0.3s ease forwards;
}
@keyframes checkbox {
	0% {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0);
	}
	100% {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(1);
	}
}
@keyframes checkbox-reverse {
	0% {
		transform: translate(-50%, -50%) scale(1);
	}
	100% {
		transform: translate(-50%, -50%) scale(0);
	}
}
/* radio ================================================== */
.form-questions__submit-block {
	display: flex;
	flex-wrap: wrap;
	column-gap: 25px;
	row-gap: 24px;
}
.form-questions__submit-block:not(:last-child) {
	margin-bottom: 40px;
}
.form-questions__submit-block .form-questions__line {
	flex: 1 1 0%;
	display: flex;
}
.form-questions__button {
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-self: flex-start;
}
/* ============================================= */
.checkbox {
	position: relative;
}
.checkbox__input {
	top: 21px;
	left: 8px;
}
.checkbox__label {
	line-height: 1.6;
	display: flex;
	column-gap: 12px;
}
.checkbox__label::before {
	content: '';
	flex: 0 0 16px;
	width: 16px;
	height: 16px;
	border: 1px solid #B3B7BC;
	border-radius: 3px;
	transform: translateY(5px);
}
.checkbox__input:checked + .checkbox__label::before {
	background: #FF3F3A url('../img/questions/check.svg') center no-repeat;
	border-color: transparent;
	border-radius: 3px;
	transform: translateY(5px);
}
.checkbox__input:focus-visible + .checkbox__label:before {
	background: url('../img/questions/check.svg') center no-repeat;
	box-shadow: 0px 0px 0px 2px #000000;
}
.checkbox__input:checked:focus-visible + .checkbox__label:before {
	background: #FF3F3A url('../img/questions/check.svg') center no-repeat;
	box-shadow: 0px 0px 0px 2px #000000;
}
/* footer ====================================== */
.footer {
	background-image: linear-gradient(to right, #ff9966, #ff5e62);
	color: hsl(0, 0%, 0%);
	color: hsl(0, 0%, 100%);
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
}
.footer__container {
	padding: 20px 0;
}