@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
body {
	font-family: 'Lato', sans-serif;
}
[class*='container'] {
	max-width: 1230px;
	padding: 0 10px;
	margin: 0px auto;
}
/* -------------------------- */
/* ----------HEADER---------- */
/* -------------------------- */
.header {
	text-align: center;
	padding: 120px 0;
	background:
		url('../img/shape_01.svg') 8.96% 27.35% no-repeat,
		url('../img/shape_02.svg') left -112px bottom -146px no-repeat,
		url('../img/shape_03.svg') right -30px top 26.28% no-repeat,
		url('../img/shape_04.svg') right 13.9% bottom -52px no-repeat,
		linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}
.header-label {
	color: #ff3f3a;
	text-transform: uppercase;
	line-height: 150%;
	font-weight: 700;
}
.header-label:not(:last-child) {
	margin-bottom: 12px;
}
.header-title {
	color: #1e212c;
	font-size: 46px;
	font-weight: 900;
	line-height: 130%;
	max-width: 1020px;
	margin: 0px auto;
	text-transform: capitalize;
}
.header-title span {
	text-transform: lowercase;
}
/* ------------------------ */
/* ----------MAIN---------- */
/* ------------------------ */
.main {
	padding: 120px 0 80px;
}
/* ------------------------ */
/* ----------PAGE---------- */
/* ------------------------ */
.page {
	/* padding: 120px 0; */
	line-height: 160%;
	color: #424551;
	margin-bottom: 100px;
}
.about:not(:last-child) {
	margin-bottom: 80px;
}
.about-info-body {
	max-width: 600px;
}
.about-info-body:not(:last-child) {
	margin-bottom: 48px;
}
.about-info-title {
	font-size: 46px;
	line-height: 130%;
	font-weight: 900;
	color: #1e212c;
}
.about-info-title:not(:last-child) {
	margin-bottom: 40px;
}
.about-info-text p:not(:last-child) {
	margin-bottom: 20px;
}
.about-list-body {
	max-width: 600px;
}
.about-list-body:not(:last-child) {
	margin-bottom: 48px;
}
.about-list-title {
	font-size: 28px;
	line-height: 150%;
	font-weight: 700;
	margin-bottom: 24px;
	color: #1e212c;
}
.about-list:not(:last-child) {
	margin-bottom: 40px;
}
.about-list li {
	padding-left: 32px;
}
.about-list li::before {
	content: '';
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url('../img/icons/check.svg') 0 0 no-repeat;
	margin-left: -32px;
	margin-right: 16px;
	vertical-align: text-bottom;
}
.about-list li:not(:last-child) {
	margin-bottom: 4px;
}
.curator {}
.curator:not(:last-child) {
	margin-bottom: 80px;
}
.curator-body {
	max-width: 600px;
	margin-left: auto;
	padding-top: 20px;
}
.curator-body > *:not(:last-child) {
	margin-bottom: 32px;
}
.curator-info > *:last-child {
	margin-bottom: 0;
}
.curator-label {
	line-height: 150%;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 8px;
	letter-spacing: 1px;
	color: #1e212c;
}
.curator-name {
	font-size: 46px;
	font-weight: 900;
	line-height: 130%;
	color: #1e212c;
	margin-bottom: 16px;
}
.curator-about {
	font-size: 20px;
	line-height: 150%;
	color: #787a80;
	margin-bottom: 32px;
}
.curator-stats-list > *:not(:last-child) {
	margin-bottom: 4px;
}
.curator-stats-list li {
	padding-left: 24px;
	font-weight: 700;
	color: #424551;
}
.curator-stats-list li.item-rating {
	background: url('../img/icons/star.svg') 0 5px no-repeat;
}
.curator-stats-list li.item-courses {
	background: url('../img/icons/play.svg') 0 5px no-repeat;
}
.curator-stats-list li.item-students {
	background: url('../img/icons/profile.svg') 0 5px no-repeat;
}
.curator-text p:not(:last-child) {
	margin-bottom: 20px;
}
/* -------------------------- */
/* ----------PSEUDO---------- */
/* -------------------------- */
.pseudo {
	margin-bottom: 80px;
}
.pseudo > * > *:not(:last-child) {
	margin-bottom: 50px;
}
/* ------------------------- */
/* ----------HOVER---------- */
/* ------------------------- */
.pseudo-hover {
	min-height: 360px;
}
.pseudo-hover-body {
	max-width: 500px;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid grey;
}
.pseudo-hover-item {
	font-size: 0;
	cursor: pointer;
}
.pseudo-hover-item:not(:last-child) {
	margin-bottom: 5px;
}
.pseudo-hover-title {
	border-radius: 10px;
	background-color: #444;
	display: inline-block;
	text-transform: capitalize;
	font-size: 24px;
	width: 100%;
	padding: 5px;
	color: #fff;
}
.pseudo-hover-title::before {
	content: '+';
	display: inline-block;
	margin-right: 10px;
}
.pseudo-hover-title:hover {
	background-color: #ff403ab0;
	color: #000;
	outline: 1px solid black;
	outline-offset: -1px;
	border-radius: 10px 10px 0 0;
}
.pseudo-hover-title:hover + .pseudo-hover-text {
	display: block;
	border-radius: 0 0 10px 10px;
	border: 1px solid black;
	border-top: none;
}
.pseudo-hover-title:hover::before {
	content: '-';
	margin-left: 3px;
	margin-right: 13px;
}
.pseudo-hover-text {
	background-color: #eee;
	padding: 10px;
	line-height: 130%;
	font-size: 14px;
	display: none;
	border-radius: 10px;
}
.pseudo-hover-text span {
	font-weight: 700;
	margin-right: 20px;
	text-transform: uppercase;
	word-spacing: 3px;
}
/* ------------------------------------- */
/* ----------PSEUDO FIRST-LAST---------- */
/* ------------------------------------- */
.first-last-child {
	max-width: 500px;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid grey;
	background-color: rgb(47, 105, 107);
}
.first-last-child ul li {
	text-transform: capitalize;
	letter-spacing: 2px;
	word-spacing: 10px;
	line-height: 180%;
	text-align: center;
}
.first-last-child ul li:nth-child(odd) {
	background-color: #000;
	color: #fff;
}
.first-last-child ul li:nth-child(even) {
	background-color: #fff;
	color: #000;
}
.first-last-child ul li:hover {
	background-color: #808080;
	cursor: pointer;
}
.first-last-child ul li:active {
	background-color: green;
	color: #DDD78D;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: underline;
}
.first-last-child ul li:last-child:hover {
	background-color: #ff0000;
	color: #fff;
	cursor: pointer;
}
.first-last-child ul li:last-child:active {
	background-color: #ce2d2da2;
	color: #0D1317;
	font-weight: 700;
	text-transform: lowercase;
	text-decoration: line-through;
	letter-spacing: 10px;
}
/* --------------------------------------------- */
/* ----------PSEUDO FIRST-LAST OF TYPE---------- */
/* --------------------------------------------- */
.of-type {
	max-width: 600px;
	margin: 0px auto;
	padding: 20px;
	background-color: rgb(47, 105, 107);
}
.of-type * {
	padding: 20px;
	background-color: rgb(199, 199, 199);
	line-height: 130%;
}
.of-type *:not(:last-child) {
	margin-bottom: 10px;
}
.of-type div {
	background-color: rgb(207, 207, 177);
}
.of-type p {
	background-color: rgb(177, 207, 206);
}
.of-type :first-of-type {
	background-color: rgb(178, 128, 211);
}
.of-type div:last-of-type {
	background-color: rgb(211, 178, 128);
}
.pseudo-child-type-body > *:not(:last-child) {
	margin-bottom: 50px;
}
/* -------------------------- */
/* ----------TARGET---------- */
/* -------------------------- */
.pseudo-target-body {
	max-width: 700px;
	margin: 0px auto;
	text-align: center;
	padding: 20px;
	border: 1px solid grey;
}
.pseudo-target-link {
	display: inline-block;
	background-color: #ff403ab0;
	padding: 10px;
	border-radius: 10px;
}
.pseudo-target-section {
	text-align: left;
	padding: 20px;
	outline: 1px solid grey;
	outline-offset: -1px;
	border-radius: 0px 0px 15px 15px;
	display: none;
	background-color: rgb(175, 175, 175);
}
.pseudo-target-section p:not(:last-child) {
	margin-bottom: 10px;
}
.pseudo-target-section:target {
	display: block;
}
.pseudo-target-link:target {
	background-color: rgb(255, 136, 0);
	border-radius: 10px 10px 0 0;
}
.pseudo-target-link#section-4:target {
	border-radius: 10px;
	background-color: #444;
	color: #fff;
}
a#section-1:target ~ .section-1,
a#section-2:target ~ .section-2,
a#section-3:target ~ .section-3 {
	display: block;
}
a#section-4:target ~ [class*='section-'] {
	display: none;
}
.pseudo-target-link:hover {
	background-color: rgb(216, 216, 216);
	text-decoration: underline;
}
.pseudo-target-link:active {
	background-color: rgb(106, 206, 97);
}
/* ----------------------------- */
/* ----------GAME BODY---------- */
/* ----------------------------- */
.game-body:target .game {
	display: none;
}
.game-button {
	text-align: center;
}
.game-button *:not(:last-child) {
	margin-right: 50px;
}
.game-link {
	display: inline-block;
	background-color: purple;
	color: #fff;
	font-size: 18px;
	padding: 10px 15px;
	border-radius: 2px;
	text-transform: uppercase;
}
.game-link:hover {
	background-color: #a826a8;
	box-shadow: 0px 0px 5px 2px rgb(0, 0, 0);
}
.game-link:active {
	background-color: #fff;
	color: #000;
}
/* ------------------------ */
/* ----------GAME---------- */
/* ------------------------ */
.game {
	display: none;
}
.game-button:target {
	margin-bottom: 50px;
}
.game-button:target ~ .game {
	display: block;
	min-height: 550px;
}
.game-button:target .game-link:hover {
	background-color: #a826a8;
}
.game-button:target .game-link:active {
	background-color: #fff;
}
.game-button:target [href*='start'],
.game-body:target [href*='end'] {
	background-color: #26a84d;
}
[class*='block-'] {
	visibility: hidden;
	opacity: 0;
	background-color: #000;
	cursor: crosshair
}
[class*='block-']:hover,
[class*='block-']:hover + * {
	visibility: visible;
	opacity: 1;
}
[class*='block-']:last-child {
	background-color: rgb(134, 134, 134);
}
[class*='block-']:last-child:hover {
	background-color: #000;
	background: url('https://picsum.photos/1000') center / cover no-repeat;
	width: 100%;
	min-height: 550px;
	margin: -530px auto 0;
}
.block-1 {
	width: 50px;
	height: 50px;
	visibility: visible;
	opacity: 1;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	line-height: 50px;
}
.block-2 {
	width: 50px;
	height: 50px;
}
.block-3 {
	height: 50px;
	margin-right: 20%;
	margin-top: -50px;
}
.block-4,
.block-5,
.block-6 {
	margin-left: auto;
	margin-right: 20%;
}
.block-4 {
	width: 40px;
	height: 50px;
	margin-top: -50px;
}
.block-5 {
	height: 200px;
	width: 40px;
	margin-top: -50px;
}
.block-6 {
	width: 40px;
	height: 40px;
	margin-top: -40px;
}
.block-7,
.block-8,
.block-9 {
	margin-left: 20%;
	margin-top: -40px;
}
.block-7 {
	height: 40px;
	margin-right: 20%;
}
.block-8 {
	width: 30px;
	height: 40px;
}
.block-9 {
	width: 30px;
	height: 150px;
}
.block-10 {
	width: 30px;
	height: 30px;
	margin-left: 20%;
	margin-top: -30px;
}
.block-11 {
	height: 30px;
	margin-left: 20%;
	margin-right: 50%;
	margin-top: -30px;
}
.block-12,
.block-13,
.block-14 {
	margin-left: auto;
	margin-right: 50%;
}
.block-12 {
	width: 20px;
	height: 30px;
	margin-top: -30px;
}
.block-13 {
	width: 20px;
	height: 200px;
	margin-top: -30px;
}
.block-14 {
	height: 20px;
	width: 20px;
}
/* ----------------------------- */
footer {
	background-color: #333;
	color: #fff;
	text-transform: uppercase;
	font-size: 32px;
	letter-spacing: 2px;
	text-align: center;
	padding: 20px;
}
