.block {
	max-width: 800px;
	margin: 0px auto;
}

p.roboto {
	font-size: 32px;
	color: rgb(55, 0, 255);
}
p.arial {
	font-size: 32px;
}
h2 {
	text-transform: uppercase;
	text-align: center;
	font-size: 50px;
}
.arial {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.roboto {
	font-family: 'Roboto';
}